<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.component.css">
</head>
<body>

    

    <div class="content">
        <h2 Welcome To our Restaurant></h2>
        <hr>
        <p>“Life is like a restaurant; you can have anything you want as long as you are willing to pay the price.We give you an eating experience that you’ll never forget."</p>
        <button class="btn-default" > <a href="restaurant">Explore</a></button>
    </div>

    <img src="..\assets\81zq5TPJ1DL._AC_UL400_.jpg" alt="">

</body>
</html>