<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about-us.component.css">

   
</head>
<body>
   <div class="heading">
    <h2>About Us</h2>
   </div> 
   <section class ="about-us">
    <img src="..\assets\wp1874162.jpg">
    <div class="content">
        <h3>Our Restaurant</h3>
        <p> "Here,  we understand cravings. We know how important it is to get your food fast, and we have a 1-hour delivery guarantee, or you get your money back.

            While we prepare our food fast, we develop the flavor slowly. Our dough rises over the night, and our meat is always marinated. That's why every chicken tender, every beef skewer, and every bun taste like heaven.
            
            Don’t let hunger take control of you!"</p>
        
    </div>
   </section>
</body>
</html>
