
<!-- here we are  creating feedback form for getting  user's opinion about this restaurant management-->

<div class="app">
    <h3>Was this page helpful?</h3>
    
    
    <p>Let us know how we did</p>
  
    <div class="container">
      <div class="item">
        <label for="0">
        <input class="radio" type="radio" name="feedback" id="0" value="0">
        <span>🤬</span>
      </label>
      </div>
  
      <div class="item">
        <label for="1">
        <input class="radio" type="radio" name="feedback" id="1" value="1">
        <span>🙁</span>
      </label>
      </div>
  
      <div class="item">
        <label for="2">
        <input class="radio" type="radio" name="feedback" id="2" value="2">
        <span>😶</span>
      </label>
      </div>
  
      <div class="item">
        <label for="3">
        <input class="radio" type="radio" name="feedback" id="3" value="3">
        <span>😁</span>
      </label>
      </div>
  
      <div class="item">
        <label for="4">
        <input class="radio" type="radio" name="feedback" id="4" value="4">
        <span>😍</span>
      </label>
      </div>
      <label>Please Leave a comment</label>
      <p class="textarea_wrapper"><textarea name="contact_message" id="contact_message"></textarea> </p>
      <button type="Submit"  (click)="exit()" >SUBMIT</button>
    </div>
   
  </div>
  