/*body
{
    
    margin:10px;
    font-family: 'Times New Roman', Times, serif; 
    background: none;
     background-image:url("C:\Users\sridh\Desktop\FullStackProject\restaurant\src\assets\pngtree-restaurant-menu-design-stock-image-picture-image_554719.jpg");
}

   .login{
        width: 350px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 50px;
        border-radius: 15px ;
        
}
h2{
    text-align: center;
    color: #412782;
    padding: 20px;
}
label{
    color: #9e96b6;
    font-size: 30px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    text-align: center;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
span{
    color: rgb(46, 17, 177);
    font-size: 17px;
}
a{
    float: right;
    
}

/**
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    height:100%;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0,4),rgba(0,0,0,0,4));
    
}
.form-box{
    width:380px;
    height: 480px;
    background: white;
    margin:6% auto;
    position:relative;
    padding:5px;
}
.button-box{
    
    width:220px;
    margin:35px auto;
    position: relative;
    box-shadow:0 0 20px 3px #199d4e;
}
.toggle-btn{
    padding:10px 30px;
    cursor:pointer;
    background: transparent;
    border:0;
    outline:none;
    position: relative;
}
#btn{
    top:0;
    left:0;
    position:absolute;
    width:110px;
    height: 100%;
    background:linear-gradient( to right, #3f5efb,#fc466b) ;
    border-radius: 30px;
    transform: 1s;
}
.login-form{
    border:2px;
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow:2px;
    
}
body{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    background:none;
    
}
section{
    position:relative;
    height:100vh;
    width: 100%;
    
}
.form-container{
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    background: linear-gradient(#0abdda,#48b957);
    width:400px;
    padding:50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #670e9a;
    
}
h1{
    text-transform:uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    font-weight:bold;

}
h2{
    text-align: center;
    font-weight:bold;

}
.control label{
    font-weight:bold;
    font-size: 25px;
    
}
.control input{
    width:100%;
    display:block;
    padding:10px;
    color:#222;
    border:none;
    margin:1em 0;
    
}

.row mb-4 px-3{
    font-size: 45px;
}
.control input[type="submit"]{
    background: black;
    color:#fff;
    text-transform: uppercase;
    font-size:1.2em;
    opacity:1;
    transition:opacity .3s ease;

}

.control input[type="submit"]:hover{
    opacity: 1;
    color:dimgrey;
}
.link{
    text-align:center;

}
.link a{
    text-decoration: none;
    color:#fff;
    opacity:.7;
    transition: opacity .3s ease;
}
.link a hover{
    opacity:1;
}

#Username{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
   /* text-align: center;*/
}
#Password{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
