
<!-- here we are creating navigation bar for login,logout,home,aboutus,contact us-,profile,restaurant list ,create restaurant details-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="nav nav-tabs">
    
    
        <li class="nav-item">
          <a title="home"*ngIf="loginService.isUserLoggedIn()" routerLink="homepage" routerLinkActive="active"
            class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a title="restaurantlist"*ngIf="loginService.isUserLoggedIn()" routerLink="restaurant" routerLinkActive="active"
            class="nav-link">Restaurant List</a>
          </li>
   
    <li class="nav-item">
      <a title="create restaurant"*ngIf="loginService.isUserLoggedIn()" routerLink="create-restaurantdetails" routerLinkActive="active"
        class="nav-link">Create Restaurant</a>
    </li>
    <li class="nav-item">
      <a title="Login"*ngIf="!loginService.isUserLoggedIn()" routerLink="loginpage" routerLinkActive="active"
        class="nav-link">Login</a>
    </li>
    <li class="nav-item">
      <a title="About us"*ngIf="loginService.isUserLoggedIn()" routerLink="about-us" routerLinkActive="active"
        class="nav-link">About Us</a>
    </li>
    
    <li class="nav-item">
      <a title="contactus"*ngIf="loginService.isUserLoggedIn()" routerLink="contact-us" routerLinkActive="active"
        class="nav-link">ContactUs</a>
    </li>
    <li class="nav-item">
      <a title="profilecard"*ngIf="loginService.isUserLoggedIn()" routerLink="profile-card" routerLinkActive="active"
        class="nav-link">Profile</a>
    </li>
    <!--<li class="nav-item">
      <a *ngIf="loginService.isUserLoggedIn()" routerLink="register-page" routerLinkActive="active"
        class="nav-link">Register</a>
    </li>-->

  </ul>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a title="Logout" *ngIf="loginService.isUserLoggedIn()" (click)="confirmLogout()" routerLink="logout-page" routerLinkActivate="active" class="nav-link" align="right"
          style="font-size:15px">Logout<i class="fa fa-sign-out fa-1px"></i></a>
      </li>
    </ul>
  </div>

</nav>



<h1 class="text-center"> {{title}} </h1>
<div class="container">
  <router-outlet></router-outlet>
</div>