<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="listrow">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control"placeholder="Search by RestaurantName"[(ngModel)]="restaurantName"/>
            <button title="search"class="btn btn-outline-secondary "type="button"(click)="searchByName()">Search</button>
        </div>
    </div>
</div>
<button title="veghotel"class="btn btn-outline-primary" type="button" (click)="fetchVegHotel()">
    Veg Hotel List
  </button>
  <button title="nonveghotel"class="btn btn-outline-primary" type="button" (click)="fetchNonVegHotel()">
    NonVeg Hotel List
  </button>

<h2> Restaurant List</h2>
<table class = "table table-borderless">

<!---here we see the restaurant list and we want to update , delete and view the restaurantlist
    we want to be aware if we want to  delete , all the records can't fetch the database again -->
    <thead>
        <tr>
            <th title="restaurant name"> Restaurant Name</th>
            <th title="ownername"> owner Name </th>
            <th title="FoodType"> FoodType </th>
            <th title="Rating"> Rating </th>
            <th title="location"> Location </th>
            <th title="Actions"> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let eachRestaurant of restaurant" >
            <td > {{eachRestaurant.restaurantName }} </td>
            <td> {{eachRestaurant.ownerName }} </td>
            <td> {{eachRestaurant.foodType}} </td>
            <td> {{eachRestaurant.rating}} </td>
            <td ><a href="{{eachRestaurant.location}} "><i class="fa fa-location-arrow"></i></a> </td>
            <td>
                <button title="update" (click) = "updateRestaurant(eachRestaurant.hotelId)"   class= "btn info">
                    Update</button>
                <button title="delete"(click) = "confirmDelete(eachRestaurant)" class = "  btn danger" style="margin-left: 10px"> Delete  </button>
                <button title="view"(click) = "restaurantDetails(eachRestaurant.hotelId)" class = " btn success " style="margin-left: 10px"> view</button>
                
            </td>
            
        </tr>
        <tr scope="row" *ngIf="restaurant.length === 0">
            <td colspan="5" class="text-center">No records found</td>
         </tr>
        <button title="remove" *ngIf= "restaurant.length !== 0" class="m-3 btn btn-sm btn-danger"(click)="confirmDeleteAll()">RemoveAll</button>
        
    </tbody>
</table>
