h3{
    text-align:center;
    font-size: 30px;
}
div{
    margin: 25px;
    border-radius: 50px;
    font-size: 25px;
    text-align:center;
background: linear-gradient(#da1e0a,#b948b3);}

.btn-warning{
     border-top-right-radius:  10px;
     border-bottom-left-radius:  10px;
}

.btn-warning:hover {
    background: #d3c30e;
    color: white;
  }